<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="bg-dark">
    <div class="col-100">
      <h1 class="color-white">
        Cadastro de usuário
      </h1>
    </div>
  </header>
  <section>
    <div class="col-30 bg-grey">
      <form action="/cadastro/add" method="post">
        <legent>Adicionar Usuário</legent>
        <br>
        <br>
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="login" placeholder="Login">
        <input type="password" name="senha" placeholder="Senha">

        <button type="submit">Adicionar</button>
        

      </form>
      <form action="/">
        <button type="submit">Voltar</button>
    </form>
    </div>

      <% if(is_admin){ %>
        <div class="col-70">
      <%} else{ %>
      <div style="display: none;" class="col-70">
      <% } %>
      <table>
        <tbody>
          <% for(var i=0;i< usuarios.length;i++){ %>
            <tr>
              <td>#<%= i+1 %></td>
              <td><strong> <%= usuarios[i].nome %></strong></td>
              <td><%= usuarios[i].email %></td>
              <td><%= usuarios[i].login %></td>
            </tr>
            <%} %>
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>